.addDataHolder {
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding: 20px 20px 20px 20px;
}

.block {
    position: relative;
    margin-top: 15px !important;
}

.divider {
    width: 98%;
    height: 0.5px;
    margin-top: 15px !important;
}

.title {
    font-size: 20px;
    font-weight: 600;
}